.card-header {
    color: #ffffff !important;
    text-align: center;
    background-color: #7272df !important;
}

.team-heading {
    background-color: #1414b1;
}

h1 {
    color: #ffffff;
}

.card-title {
    color: #ffffff !important;
}

.card {
    margin-left: 3rem;
    width: 20rem;
    
}

